---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>The Golden Principle - A Guide to Medical Workers</h1>
			<p>
				When people come to you with a serious disease and ask for help, you cannot concern yourself with whether they are esteemed or dishonorable, wealthy or poor, elderly or young, beautiful or ugly. Your care must be safe, and not swayed by whether they are your dearest family member or your adversary, your good friend or a stranger, Chinese or foreigner, foolish or wise. In your mind's eye each patient is on the same level, degree and class, and is treated as close as family. Your care must never be self serving or motivated by what brings good or bad fortune, or by that which is pleasing or upsetting. Your protection and care should be precisely what is necessary: no more, no less, without deference to your own safety and life. Know, in your heart, that your good deeds are sincere and not a game. Show courage but caution. Actively explore and broaden your knowledge, but stand firmly on the principles of which you are certain
			</p>
			<p>
				This template comes with a few integrations already configured in your
				<code>astro.config.mjs</code> file. You can customize your setup with
				<a href="https://astro.build/integrations">Astro Integrations</a> to add tools like Tailwind,
				React, or Vue to your project.
			</p>
			<p>Here are a few ideas on how to get started with the template:</p>
			<ul>
				<li>Edit this page in <code>src/pages/index.astro</code></li>
				<li>Edit the site header items in <code>src/components/Header.astro</code></li>
				<li>Add your name to the footer in <code>src/components/Footer.astro</code></li>
				<li>Check out the included blog posts in <code>src/content/blog/</code></li>
				<li>Customize the blog post page layout in <code>src/layouts/BlogPost.astro</code></li>
			</ul>
			<p>
				Have fun! If you get stuck, remember to <a href="https://docs.astro.build/"
					>read the docs
				</a> or <a href="https://astro.build/chat">join us on Discord</a> to ask questions.
			</p>
			<p>
				Looking for a blog template with a bit more personality? Check out <a
					href="https://github.com/Charca/astro-blog-template"
					>astro-blog-template
				</a> by <a href="https://twitter.com/Charca">Maxi Ferreira</a>.
			</p>
		</main>
		<Footer />
	</body>
</html>
